---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout>
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <p class="mb-4">
          Hello, I am Lilian. My real name is <span style="font-size: 24pt; font-family: 'Redacted Script'">Youlost TheGame</span>.
          I am a highschool senior from India, and plan on majoring in math and physics.
        </p>
        <p class="mb-4">
          Academically, aside from math and physics, I also really like philosophy and computer science. I use
          fedora as my main operating system, and like to engage in the open source community. Non-academically,
          I like literature, music, movies, photography and painting (although I am an amateur at the last two). I also like
          reading manga/manhwa, and watching anime.
        </p>
        <p>
          Currently I am really enjoying some of Ishiguro's works, and my favourite author is Dostoevsky. I mostly
          listen to post-rock, shoegaze, baroque-pop and jazz-rap. I also do graphic design from time to time.
        </p>
      </div>

      <h2 class="mb-4 text-2xl font-medium">Some things I am working on</h2>
      <div class="flex flex-col gap-4">
        {projects.map((project) => <ProjectCard project={project} />)}
      </div>
    </div>
  </section>
</Layout>
