---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'
import YouTubeCard from '@/components/YoutubeCard.astro'
const projects = await getAllProjects()
import AlbumCard from '@/components/AlbumCard.astro'

---

<Layout>
  <PageHead slot="head" title="Media" />
  <Breadcrumbs items={[{ label: 'Media', icon: 'lucide:square-library' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <p class="mb-4">
          My main hobbies are reading, listening to music and practicing photography. I'll mainly talk about them on this page.
        </p>


        <h2>
          Music
        </h2>
        <p>
          I love music. Unlike literature, I think music is a lot less about what it is saying, and more about what it makes you feel. It is similar to poetry
          in that sense, and thrives on imagery, and lyrics that can express what you feel.
          In general I don't listen to a lot of upbeat music. I think this has to do with how I connect more somber music to sort of
          an introspective piece that makes me think about my life and emotions. Its beautiful too, when it is raining and its dark, the world looks
          very somber. It looks lonely but beautiful. I love music that can make me feel. The three album that I always come back to are: Twin Fantasy, Ants From Up There,
          and Lift Your Skinny Fists Like Antennas to Heaven.
        </p>
        <h3>
          Twin Fantasy (Face to Face)
        </h3>
        <div style="display: flex; align-items: flex-start; gap: 1rem; flex-wrap: wrap;">
          <div class="album-card-wrapper">
            <AlbumCard appleMusicLink="https://music.apple.com/in/album/twin-fantasy/1586483380" rating="100"/>
          </div>

          <p class="album-description">
            Twin Fantasy is my favourite album ever. For some historical information, Face to Face refers to the 2018 re-recording of it, which is the definitive version to listen to.
            The original 2012 version carries the same charm, but is recorded in someone's garage. Somewhat confusingly, the first part of the 2018 album is called mirror to mirror, and the second part
            face to face as well. This is intentional, and you'll see it in the songs and the themes about "growing up".
            <br><br>
            Anyway, even the first song shows the kind of messy beauty this album has. The real highlight
            is of course, the second song, beach life-in-death. This is perhaps my favourite song ever and I've listened to it endlessly. The way it just portrays these feelings of societal judgement,
            obsession and depression speaks to me so much. It is the prime example of music that makes me feel, and this song by itself has shaped me as a person. And it isn't the only song like
            this on the album. Bodys, High to Death, Famous Prophets (Stars), Twin Fantasy (Those Boys) are all heartbreaking and speak so, so much to me.
            <br><br>
            At its core, it is an album about escaping the fantasy Toledo plants himself in, where his image of his lover is no more than his fantasy. It is an album about messy love, depression,
            heartbreak and growing up. We go from seeing each other only as reflections (mirror to mirror) and living in the fantasy, to escaping it and seeing each other face to face. There is
            little I can express here that Toledo hasn't expressed better, and sometimes you just need to listen. Even aside from what he wants to say, there is a lot you can relate to and it is just
            an album I always come back to, to hear my emotions played back to me.
          </p>
        </div>
        <h3>
          Ants From Up There
        </h3>
        <div style="display: flex; align-items: flex-start; gap: 1rem; flex-wrap: wrap;">
          <div class="album-card-wrapper">
            <AlbumCard appleMusicLink="https://geo.music.apple.com/hu/album/ants-from-up-there/1586070259" rating="100"/>
          </div>
          <p class="album-description">
            Ants From Up There offers a great contrast to Twin Fantasy. It is a similar album in many ways, about obsession and love but the way it portrays it is so different.
            While Twin Fantasy is messy and personal, I would say AFUT is grand in a sense, with this almost Sisyphean sense of sadness. That doesn't take anything away from it,
            in fact it is one of the most crushing records I've ever heard. The intro and chaos space marin are quite upbeat, seemingly out of place from the rest of the album. Chaos Space Marine is perhaps ironically
            upbeat, the lyrical content being about escapism into action figures.
            <br>  <br>
            Anyway, the next song is my favourite in the album alongside The Place Where He Inserted The Blade, Concorde.
            The way Isaac says in the opening <span style="font-style: italic">''What a funny way to speak''</span>  just jumps out to me. He sounds so lost and hateful, I can't ever get over those lines. The analogy with Concorde is
            so well done and <span
            style="
                display: block;
                text-align: center;
                font-style: italic;
                margin-top: 0rem; /* adjust this to taste */
              "
                      >
              "But, for less than a moment<br>
              We'd share the same sky<br>
              And then Isaac will suffer<br>
              Concorde will fly"
            </span>
            is again a devastating verse. I can't even quite articulate what I feel from this song. The analogy in Bread Song, the almost fear he shows in Good Will Hunting, Haldern and this over-dramatic portrayal of
            sadness in The Place Where He Inserted the Blade, which is perhaps the thesis of the album; they're all things that make the album special to me. It is also the most accessible of three records, so I really
            do recommend to try this out.
          </p>
        </div>
        <h3>
          Lift Your Skinny Fists Like Antennas to Heaven
      </h3>
        <div style="display: flex; align-items: flex-start; gap: 1rem; flex-wrap: wrap;">
          <div class="album-card-wrapper">
            <AlbumCard bandcampUrl="https://godspeedyoublackemperor.bandcamp.com/album/lift-your-skinny-fists-like-antennas-to-heaven" rating="100"/>
          </div>
          <p class="album-description">
            This is different from the other two albums mentioned here, being largely instrumental. I like to think of this album as greater than music somewhat. This is also the most inaccessible of the
            three records, both musically, with each song being 20 minute long with a few acts, and because it is not available on spotify. You can stream it on apple music, or if you don't use it, on bandcamp
            for free (at least for a couple of streams). Worst case, grab it from soulseek, GY!BE is quite cool and I doubt would ever mind.
            <br> <br>
            The first song, Storm, is almost hopeful
            but ends with a sample (which is technically about homeless people) that gives of a sense of alienation. It stands out from the rest of the album with the sound,
            but the buildup and distorted instrumentals are very much the same. Static builds upon hope with dread and the words of a preacher, and it evokes the same
            feelings in me that the album title and Neon Genesis Evangelion does with christian themes. Sleep, is about the monotonicity and decadence the world has fallen into,
            and is in my opinion the best song on the album. "They don't sleep anymore on the beach..." is so tragic and incredible to me. The buildup is incredible and it again sounds
            so alienating and dark for the first two acts, while the the third act is somewhat post-apocalyptic, being hopeful and upbeat. Like Antennas to Heaven is the final act and is again just a masterpiece.
            <br><br>
            At its core, I think LYSF is an uplifting album. It showcases the loss of innocence and the decadence of the world, and still urges you to lift your hands and hope. Storm, Static, Sleep,
            ...Like Antennas to Heaven. Even the order of their names. Hope after a storm.
          </p>
        </div>
      </div>
    </div>
  </section>
</Layout>
